.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  margin: 0; 
}

* {
  box-sizing: border-box;
}

.nav{
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
  box-shadow: 0px 5px 5px black;
}

.site-title{
  font-size: 2rem;
 text-decoration: none;
}

.nav ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  }

.nav a {
  color: inherit;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li:hover{
  background-color: #777;
}

.post-box{
  background-color: rgb(239, 239, 239);
  color: white;
  box-shadow: 0px 3px 10px black;
  margin-top: 50px;
  width: 50%;
  position: relative;
  left: 25%;
  justify-content: space-between;
  height: 12rem;
  margin-bottom: 10px;
}

.post-box:hover{
  background-color: rgb(193, 223, 243);
}

.post-cover{
  top: 7%;
  right: 30%;
  max-width: 20%;
  position: relative;
}

.post-box h1{
  position: relative;
  bottom: 80%;
  left: 15%;
  text-shadow: rgb(50, 59, 66) 1px 1px 4px
}

.post-box h2{
  position: relative;
  bottom: 90%;
  left: 15%;
  text-shadow: rgb(50, 59, 66) 1px 1px 4px;
  font-size: 1rem;
}

.post-box a{
  border-radius: 15%;
  position: relative;
  bottom: 90%;
  left: 15%;
  text-shadow: rgb(50, 59, 66) 1px 1px 4px;
  font-size: 1rem;
  width: 60px;
  height: 60px;
}

.post-box a:hover{
  background-color: #777;
}

body{
  background-color: rgb(242, 235, 235);
}

.onepost-box{
  background-color: rgb(71, 71, 71);
  color: white;
  box-shadow: 0px 3px 10px black;
  margin-top: 70px;
  width: 70%;
  position: relative;
  left: 15%;
  justify-content: space-between;
  height: 35rem;
  margin-bottom: 10px;
}

.onepost-cover{
  top: 7%;
  right: 30%;
  max-width: 30%;
  position: relative;
  box-shadow: 1px 1px 8px rgb(55, 66, 57);
}

.onepost-box h1{
  position: relative;
  bottom: 60%;
  left: 15%;
  text-shadow: rgb(50, 59, 66) 1px 1px 4px;
  font-size: 3rem;
}

.onepost-box h2{
  position: relative;
  bottom: 65%;
  left: 15%;
  text-shadow: rgb(50, 59, 66) 1px 1px 4px;
  font-size: 2.5rem;
}

.onepost-box h3{
  position: relative;
  bottom: 50%;
  left: 30%;
  text-shadow: rgb(50, 59, 66) 1px 1px 4px;
  font-size: 2rem;
}

.onepost-box p{
  position: relative;
  bottom: 60%;
  left: 15%;
  text-shadow: rgb(44, 44, 56) 1px 1px 4px;
  font-size: 2rem;
}

.onepost-box a{
  border-radius: 3%;
  position: relative;
  bottom: 50%;
  right: 40%;
  text-shadow: rgb(50, 59, 66) 1px 1px 4px;
  font-size: 3rem;
  width: 60px;
  height: 60px;
  color: white;
}

.onepost-box a:hover{
  background-color: #777;
}

.onepost-box button{
  position: relative;
  bottom: 60%;
  left: 20%;
  margin-left: 50px;
  text-shadow: rgb(139, 143, 255) 1px 1px 4px;
  font-size: 3rem;
  width: 7%;
  height: 12%;
}
